@model IEnumerable<TrinhDo>
<ul class="nav">
	@foreach (var s in Model)
	{
		<li class="nav-item">
			<a asp-controller="NhanVien" asp-action="Index"
			   asp-route-mid="@s.MaTrinhDo" class="nav-link">@s.TenTrinhDo</a>
		</li>
	}
</ul>