<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark bg-custom" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                <a class="nav-link" asp-route="Home">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                    Home
                </a>
                <!-- <div class="sb-sidenav-menu-heading">Addons</div> -->

                <a class="nav-link" asp-route="NhanVien_Infor_Staff">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Nhân viên
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-xmark"></i></div>
                    Chấm công
                </a>
                <a class="nav-link" asp-route="NhanVien_Luong">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Bảng lương
                </a>
                <a class="nav-link" asp-route="NhanVien_KTKL">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Khen thưởng Kỷ luật
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                    Bảo hiểm
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class=" fas fa-chart-area "></i></div>
                    Báo cáo
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as: MyAccount</div>
        </div>
    </nav>
</div>