@model IEnumerable<ChucVu>
<ul class="nav">
	@foreach (var s in Model)
	{
		<li class="nav-item">
			<a asp-controller="NhanVien" asp-action="Index"
			   asp-route-mid="@s.MaChucVu" class="nav-link">@s.TenChucVu</a>
		</li>
	}
</ul>