@model IEnumerable<QLLuong.Models.PhongBan>

<select id="phongBanSelect" class="form-control">
    <option value="">Chọn phòng ban</option>
    @foreach (var phongBan in Model)
    {
            <option value="@phongBan.MaPhongBan">@phongBan.TenPhongBan</option>
    }
</select>
