@model IEnumerable<HeSo>
<ul class="nav">
	@foreach (var s in Model)
	{
		<li class="nav-item">
			<a asp-controller="NhanVien" asp-action="Index"
			   asp-route-mid="@s.MaHeSo" class="nav-link">@s.HeSoLuong</a>
		</li>
	}
</ul>