@model IEnumerable<ChuyenMon>
<ul class="nav">
	@foreach (var s in Model)
	{
		<li class="nav-item">
			<a asp-controller="NhanVien" asp-action="Index"
			   asp-route-mid="@s.MaChuyenMon" class="nav-link">@s.TenChuyenMon</a>
		</li>
	}
</ul>