@model IEnumerable<DanToc>
<ul class="nav">
	@foreach (var s in Model)
	{
		<li class="nav-item">
			<a asp-controller="NhanVien" asp-action="Index"
			   asp-route-mid="@s.MaDanToc" class="nav-link">@s.TenDanToc</a>
		</li>
	}
</ul>